.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    justify-content: center;
    background-color: #efefef;
}

.container-wrapper{
    align-content: center;
    justify-items: center;
    text-align: center;
    height: 100dvh;
}

#edit-form{
    position: fixed;
    display: none;
    z-index: 999;
    top: 35%;
    flex-direction: column;;
    gap: 10px;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;;
    padding: 10px;
    width: 500px;
    background-color: rgba(40, 37, 34, 0.663);
}